[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/plugins/powerlevel9k"]
	path = zsh/plugins/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
