"*":
  "exception-reporting":
    userId: "1739bd4a-982f-7245-2184-9e28ee680c32"
  welcome:
    showOnStartup: false
  core:
    projectHome: "~/Projetos"
    themes: [
      "atom-material-ui"
      "an-old-hope-syntax"
    ]
    disabledPackages: [
      "atom-autocomplete-php"
    ]
  editor:
    invisibles: {}
    tabLength: 4
